/*@import 'reset.css'; чтоб не писать в html*/


img {
	width: 100%;
}

.wrapper {
	width: 60%;
	margin: auto;
	display: block;

}

header a img {
    height: 100px;
    width: auto;
}

.menu-login {
	float: left;
}

aside {
    width: 200px;
}

.main-content {
	float: left;
	width: 70%;
    min-width: 300px;
}

footer {
    clear: both;
}

